
html {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav {
	width: 100%;
	overflow: auto;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color: #CCC;
}

nav a:hover {
	color: #09f;
}

nav a.active {
	color: #09f;
	text-shadow: 0px 0px 15px #09f;
}

nav ul {
	list-style: none;
	padding: 0px;
	float: right;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

footer {
	min-height: 200px;
}

.bloque {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	margin-bottom: 10px;
	border-radius: 3px;
}

.content-wrapper {
	overflow: auto;
}

.publicidades-logos {
	height: 50px;
	width: 910px;
	padding: 0px 25px;
	background: black;
}

.publicidades-logos img {
	float: left;
	height: 100%;
	width: auto;
}

.contador-musica-social .bloque {
	height: 40px;
}

.columna {
	float: left;
	margin-right: 10px;
}

.columna:last-child {
	margin-right: 0px;
	float: right;
}

.columna.izquierda, .columna.derecha {
	width: 250px;
}

.columna.central {
	width: 440px;
}

.columna.principal {
	width: 700px;
}

.articulo h2 {
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
	color: #09f;
	margin: 0px;
}

.articulo img {
	width: 100%;
	height: auto;
}

.articulo p {
	font-size: 14px;
	color: white;
	margin:0px;
	padding: 10px;
}

.articulo a {
	text-decoration: none;
	color: inherit;
}

.articulo a.readon {
	font-size: 12px;
	color: #09f;
	margin: 10px;
}

.articulo a.readon:hover {
	text-decoration: underline;
}

.detalle-articulo h1 {
	padding: 10px 20px;
	color: lightyellow;
	font-weight: normal;
	margin: 0px;
}

.publicidad {
	overflow: hidden;
}

.publicidad img {
	width: 100%;
	height: auto;
}

.comentarios{
	background-color: rgba(0, 0, 0, 0.8);
	width: 700px;
	float: left;
	margin-bottom: 10px;
}

.servicio{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 700px;
	float: left;
}

.contenedorImagenServicio{
	width: 200px;
	height: 180px;
	margin: 10px;
	border-radius: 12px;
	float: left;

}

.imagenServicio{
	width: 100%;
	height: auto;
	border-radius: 12px;
}

.textoServicio{
	margin: 10px;
}

.tituloServicio{
	color: #09F;
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	cursor: auto;
}

.descripcionServicio{
	font-size: 14px;
	font-weight: normal;
	color: white;
	height: 108px;
}

.masInfoServicio{
	font-size: 14px;
	font-weight: normal;
	color: white;
	font-weight: normal;
	text-decoration: none;
	float: right;
}

#container {
	width: 960px;
	margin: 20px auto 0px;
	min-height: 600px;
}

#slider {
	height: 300px;
	background: transparent;
}

#contador-visitas {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}

#contador-visitas a {
	color: white;
	text-decoration: none;
}

#contador-visitas img {
	margin-top: 5px;
}

#telefonoPublicidad{
	text-align: justify;
	word-spacing: 8px;
	font-size: 27px;
	color: white;
	margin: 10px;
}

#comentario{
	font-size: 23px;
	color: white;
	margin: 10px;
}

#lineaSeparador{
	width: 500px;
	border-bottom: solid 5px #383636;
	margin: 0 auto;
	border-radius:7px;
}