
html {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

nav {
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color: #CCC;
}

nav a:hover {
	color: #09f;
}

nav a.active {
	color: #09f;
	text-shadow: 0px 0px 15px #09f;
}

nav ul {
	margin: 0px;
	list-style: none;
	padding: 0px;
	float: right;
	height: 50px;
}

nav ul > li {
	position: relative;
	display: inline;
	margin-right: 20px;
	padding: 16px 0px;
	line-height: 50px;
}

nav ul ul {
	z-index: 500;
	position: absolute;
	top: 100%;
	display: none;
	width: 200px;
}

nav ul ul li {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 5px 20px;
	background: rgba(0,0,0,0.5);
}

nav ul li:hover > ul {
	display: block;
}

nav ul ul li:hover {
	background: rgba(0,0,0,0.8);
}

footer {
	min-height: 200px;
}

.bloque {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	margin-bottom: 10px;
	border-radius: 3px;
}

.content-wrapper {
	overflow: auto;
}

.publicidades-logos {
	height: 50px;
	width: 910px;
	padding: 0px 25px;
	background: black;
}

.publicidades-logos img {
	float: left;
	height: 100%;
	width: auto;
}

.contador-musica-social .bloque {
	height: 40px;
}

.music-player {
	background: #151515;
}

.music-player #swf-player {
	margin: 5px 0px;
}

.columna {
	float: left;
	margin-right: 10px;
}

.columna:last-child {
	margin-right: 0px;
	float: right;
}

.columna.izquierda, .columna.derecha {
	width: 250px;
}

.columna.central {
	width: 440px;
}

.columna.principal {
	width: 700px;
}

.columna-interna {
	width: 350px;
	float: left;
}

.columna-interna .portada {
	width: 94%;
	margin: 3%;
}

.columna-interna .yt-video iframe {
	width: 94%;
	min-height: 200px;
	margin: 3%;
}

.articulo h2 {
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
	color: #09f;
	margin: 0px;
}

.articulo img {
	width: 100%;
	height: auto;
}

.articulo p {
	font-size: 14px;
	color: white;
	margin:0px;
	padding: 10px;
}

.articulo a {
	text-decoration: none;
	color: inherit;
}

.articulo a.readon {
	font-size: 12px;
	color: #09f;
	margin: 10px;
}

.articulo a.readon:hover {
	text-decoration: underline;
}

.articulo iframe {
	width: 100%;
	height: 140px;
}

.columna.central .articulo iframe {
	width: 100%;
	height: 330px;
}

.detalle-articulo {
	overflow: auto;
}

.detalle-articulo h1 {
	margin:0px;
	padding: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
	color: #09f;
	font-weight: normal;
	font-size: 20px;
}

.detalle-articulo p {
	margin: 0px;
	color: white;
	padding: 10px;
	padding-left: 0px;
	padding-top: 5px;
	font-size: 14px;
}

.detalle-articulo .datos {
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
	font-size: 16px;
	color: gray;
}

.detalle-articulo .datos span {
	color: white;
	font-weight: bold;
	margin-left: 10px;
}

.publicidad {
	overflow: hidden;
}

.publicidad img {
	width: 100%;
	height: auto;
}

.comentarios {
	background-color: rgba(0, 0, 0, 0.8);
	width: 700px;
	float: left;
	margin-bottom: 10px;
}

.servicio {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	margin-bottom: 10px;
	width: 700px;
	float: left;
}

.contenedorImagenServicio{
	width: 200px;
	margin: 10px;
	border-radius: 3px;
	float: left;
	overflow: auto;
}

.imagenServicio{
	width: 100%;
	height: auto;
	border-radius: 3px;
	float: left;
}

.textoServicio{
	margin: 10px;
	width: 460px;
	float: right;
}

.tituloServicio{
	color: #09F;
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	cursor: auto;
}

.descripcionServicio{
	font-size: 14px;
	font-weight: normal;
	color: white;
}

.masInfoServicio{
	font-size: 14px;
	font-weight: normal;
	color: #09f;
	font-weight: normal;
	text-decoration: none;
}

.masInfoServicio:hover {
	text-decoration: underline;
}

#galeria {
	overflow: auto;
	padding-bottom: 10px;
}

#share {
	height: auto;
	width: 230px;
	padding: 10px;
	height: 20px;
}

#share .twitter-follow-button {
	margin-left: 10px;
}

#galeria .img {
	height: 90px;
	width: 90px;
	background: black;
	float: left;
	margin-left: 9px;
	margin-top: 10px;
	cursor: pointer;
	background-size: cover;
	background-position: center center;

}

#container {
	width: 960px;
	margin: 20px auto 0px;
	min-height: 600px;
}

#slider {
	height: 300px;
	background: transparent;
}

#contador-visitas {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}

#contador-visitas a {
	color: white;
	text-decoration: none;
}

#contador-visitas img {
	margin-top: 5px;
}

#telefonoPublicidad{
	text-align: justify;
	word-spacing: 8px;
	font-size: 27px;
	color: white;
	margin: 10px;
}

#comentario{
	font-size: 23px;
	color: white;
	margin: 10px;
}

#lineaSeparador{
	width: 500px;
	border-bottom: solid 5px #383636;
	margin: 0 auto;
	border-radius:7px;
}