{% extends "main.html" %}

{% block head_m %}
	<script>
		(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id)) return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  			fjs.parentNode.insertBefore(js, fjs);
		}
		(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}

{% block slider %}
    <div class="slider-wrapper theme-default bloque">
        <div id='slider' class='nivoSlider'>
            {% for banner in banners %}
                <img src="{{ banner.url_imagen_del_banner }}" alt="{{ banner.titulo }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
	<div class='comentarios'>
		<div id='telefonoPublicidad'>Para publicidad o sumarte a los servicios llamanos al: 3735-403355</div>
		<div id='lineaSeparador'></div>
		<div id='comentario'>¿Opiniones? ¿Sugerencias? Dejanos tus comentarios:</div>
		<div id="fb-root"></div>
		<div class="fb-comments" data-href="http://www.todoeventoschaco.com.ar" data-width="700" data-num-posts="10" data-colorscheme="dark"></div>
	</div>/

	<div class="columna derecha">
		{% ifnotequal p_v|length 0 %}
			<div class="publicidad bloque">
				<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
				{{ p_v.pop.0 }}
			</div>
		{% endifnotequal %}
		{% ifnotequal p_v|length 0 %}
			<div class="publicidad bloque">
				<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
				{{ p_v.pop.0 }}
			</div>
		{% endifnotequal %}
	</div>
	
{% endblock %}