{% extends "main.html" %}

{% block title %}
    {{ articulo.nombre }} | Todo Eventos Chaco
{% endblock %}

{% block head_m %}
	<script src='{{ STATIC_URL }}lightbox2/js/lightbox.js'></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lightbox2/css/lightbox.css">
	<script>

		$(document).ready(function(){

			var albumid = "{{ articulo.url_del_album }}".split('.')[3];

			// Cargar fotos del album
			$.getJSON("https://graph.facebook.com/" + albumid + "/photos?limit=500", function(data){
				$.each(data['data'], function(idx, img){
					var newimg = $('<div><div>');
					var newlink = $('<a></a>');

					newlink.attr('href', img.images[2].source);
					newlink.attr('rel', 'lightbox['+ albumid +']');

					newimg.addClass('img');
					newimg.css('background-image', 'url("'+ img.images[6].source +'")');

					newlink.append(newimg);
					$('#galeria').append(newlink);
				});
			});

		});
	</script>
{% endblock %}

{% block bodyfirst %}
{% endblock %}

{% block content %}
		<div class="columna principal">
			<div class="detalle-articulo bloque">
				<div class="columna-interna izquierda">
					{% if articulo.url_del_video %}
						<div class='yt-video' data-youtube-video='{{ articulo.url_del_video }}'></div>
					{% else %}
						<img class='portada' data-fbalbum-url="{{ articulo.url_del_album }}">
					{% endif %}
				</div>
				<div class="columna-interna derecha">
					<h1>{{ articulo.nombre }}</h1>
					{% if articulo.fecha or articulo.lugar %}
						<p class='fecha-lugar'>
							{% if articulo.fecha %}
								el {{ articulo.fecha }}
							{% endif %}
							{% if articulo.lugar %}
								en {{ articulo.lugar }}
							{% endif %}
						</p>
					{% endif %}
					{% if articulo.telefono %}
						<p class='datos'>Telefono: <span>{{ articulo.telefono }}</span></p>
					{% endif %}
					{% if articulo.direccion %}
						<p class='datos'>Dirección: <span>{{ articulo.direccion }}</span></p>
					{% endif %}
					{% if articulo.email %}
						<p class='datos'>E-mail: <span>{{ articulo.email }}</span></p>
					{% endif %}
					<p>{{ articulo.descripcion }}</p>
				</div>
			</div>

			<div id='galeria' class="galeria bloque"></div>

		</div>

		<div class="columna derecha">
			{% ifnotequal p_v|length 0 %}
				<div class="publicidad bloque">
					<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
					{{ p_v.pop.0 }}
				</div>
			{% endifnotequal %}
			{% ifnotequal p_v|length 0 %}
				<div class="publicidad bloque">
					<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
					{{ p_v.pop.0 }}
				</div>
			{% endifnotequal %}
		</div>
{% endblock %}
