{% extends "main.html" %}

{% block slider %}
    <div class="slider-wrapper theme-default bloque">
        <div id='slider' class='nivoSlider'>
            {% for banner in banners %}
                <img src="{{ banner.url_imagen_del_banner }}" alt="{{ banner.titulo }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
	{% for comercio in comercios %}
	<div class='servicio'>
		<div class="contenedorImagenServicio">
			<img src="{{comercio.link_de_la_imagen_del_comercio" class="imagenServicio">
		</div>
		<div class="textoServicio">
			<a href="/comercio/{{comercio.id}}" class="tituloServicio">{{comercio.nombre}}</a>
			<p class="descripcionServicio">{{comercio.descripcion|truncatechars:300}}</p>
			<a href="/comercio/{{comercio.id}}" class="masInfoServicio">Ver Información..</a>
		</div>
	</div>
	{% endfor %}
{% endblock %}