{% extends "main.html" %}

{% block title %}
    {{ articulo.nombre }} | Todo Eventos Chaco
{% endblock %}

{% block head_m %}
	<script src='{{ STATIC_URL }}lightbox2/js/lightbox.js'></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lightbox2/css/lightbox.css">
	<script>

		$(document).ready(function(){

			var albumid = "{{ articulo.url_del_album }}".split('.')[3];

			// Cargar fotos del album
			$.getJSON("https://graph.facebook.com/" + albumid + "/photos", function(data){
				$.each(data['data'], function(idx, img){
					var newimg = $('<div><div>');
					var newlink = $('<a></a>');

					newlink.attr('href', img.images[2].source);
					newlink.attr('rel', 'lightbox['+ albumid +']');

					newimg.addClass('img');
					newimg.css('background-image', 'url("'+ img.images[6].source +'")');

					newlink.append(newimg);
					$('#galeria').append(newlink);
				});
			});

		});
	</script>
{% endblock %}

{% block bodyfirst %}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=1227945747345171";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}
		<div class="columna principal">
			<div class="detalle-articulo bloque">
				<div class="columna-interna izquierda">
					{% if articulo.url_del_video %}
						<div class='yt-video' data-youtube-video='{{ articulo.url_del_video }}'></div>
					{% else %}
						<img class='portada' data-fbalbum-url="{{ articulo.url_del_album }}">
					{% endif %}
				</div>
				<div class="columna-interna derecha">
					<h1>{{ articulo.nombre }}</h1>
					<p>{{ articulo.descripcion }}</p>
				</div>
			</div>

			<div id='galeria' class="galeria bloque"></div>

		</div>

		<div class="columna derecha">
			{% ifnotequal p_v|length 0 %}
				<div class="publicidad bloque">
					<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
					{{ p_v.pop.0 }}
				</div>
			{% endifnotequal %}
			{% ifnotequal p_v|length 0 %}
				<div class="publicidad bloque">
					<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
					{{ p_v.pop.0 }}
				</div>
			{% endifnotequal %}
		</div>
{% endblock %}