{% extends "main.html" %}

{% block title %}
    {{ menu_activo|capfirst }} | Todo Eventos Chaco
{% endblock %}

{% block head_m %}
	<style>
		.nivo-caption h2 {
			margin: 0px;
			padding: 10px;
			padding-bottom: 0px;
			font-weight: bold;
			font-size: 20px;
		}
		.nivo-caption p {
			padding: 10px;
			padding-top: 0px;
			margin: 0px;
		}
	</style>
{% endblock %}

{% block slider %}
    <div class="slider-wrapper theme-default bloque">
        <div id='slider' class='nivoSlider'>
            {% for banner in banners %}
                <img src="{{ banner.url_imagen_del_banner }}" alt="{{ banner.titulo }}" 
                	title="#slider-caption-{{ banner.id }}">
            {% endfor %}
        </div>
        {% for banner in banners %}
	        <div id="slider-caption-{{ banner.id }}" class="nivo-html-caption nivo-caption">
	        	<h2>{{ banner.titulo }}</h2>
	        	<p>{{ banner.descripcion }}</p>
			</div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}

		<div class="columna izquierda">
			{% for articulo in articulos %}
				{% if forloop.counter > 2 and forloop.counter < 5 %}
					<div class="articulo bloque">
						<h2><a href="/{{ articulo_base_url }}/{{ articulo.id }}">{{ articulo.nombre }}</a></h2>

						{% if articulo.url_del_video and articulo.video_como_portada %}
							<div class='yt-video' data-youtube-video='{{ articulo.url_del_video }}'></div>
						{% else %}
							<a href="/{{ articulo_base_url }}/{{ articulo.id }}">
								<img class='portada' data-fbalbum-url="{{ articulo.url_del_album }}">
							</a>
						{% endif %}

						<p>
							{{ articulo.descripcion|truncatewords:20 }}
							<a class='readon' href="/{{ articulo_base_url }}/{{ articulo.id }}">Ver Mas</a>
						</p>
						
					</div>

					{% ifnotequal p_v|length 0 %}
						<div class="publicidad bloque">
							<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
							{{ p_v.pop.0 }}
						</div>
					{% endifnotequal %}

				{% endif %}
			{% endfor %}
		</div>
		<div class="columna central">

			{% for articulo in articulos %}
				{% if forloop.counter < 3 %}

					<div class="articulo bloque">
						<h2><a href="/{{ articulo_base_url }}/{{ articulo.id }}">{{ articulo.nombre }}</a></h2>

						{% if articulo.url_del_video and articulo.video_como_portada %}
							<div class='yt-video' data-youtube-video='{{ articulo.url_del_video }}'></div>
						{% else %}
							<a href="/{{ articulo_base_url }}/{{ articulo.id }}">
								<img class='portada' data-fbalbum-url="{{ articulo.url_del_album }}">
							</a>
						{% endif %}

						<p>
							{{ articulo.descripcion|truncatewords:40 }}
							<a class='readon' href="/{{ articulo_base_url }}/{{ articulo.id }}">Ver Mas</a>
						</p>
					</div>

					{# Chicas! #}
					{% ifequal forloop.counter 1 %}
						<div class="publicidad bloque">
							<img src="{{ p_h.0.url_imagen_publicidad }}" alt="">
							{{ p_h.pop.0 }}
						</div>

						<div class="articulo bloque">
							<h2><a href="/galeria/1">{{ chicas.nombre }}</a></h2>
									<a href="/galeria/1">
										<img data-fbalbum-url='{{ chicas.url_del_album }}'>
									</a>
							<p>
								{{ chicas.descripcion|truncatewords:40 }}
								<a class='readon' href="/{{ articulo_base_url }}/{{ chicas.id }}">Ver Mas</a>
							</p>
						</div>
					{% endifequal %}

					{% ifnotequal p_h|length 0 %}
						<div class="publicidad bloque">
							<img src="{{ p_h.0.url_imagen_publicidad }}" alt="">
							{{ p_h.pop.0 }}
						</div>
					{% endifnotequal %}

				{% endif %}
			{% endfor %}
		</div>
		<div class="columna derecha">
			{% for articulo in articulos %}
				{% if forloop.counter > 4 %}
					<div class="articulo bloque">
						<h2><a href="/{{ articulo_base_url }}/{{ articulo.id }}">{{ articulo.nombre }}</a></h2>

						{% if articulo.url_del_video and articulo.video_como_portada %}
							<div class='yt-video' data-youtube-video='{{ articulo.url_del_video }}'></div>
						{% else %}
							<a href="/{{ articulo_base_url }}/{{ articulo.id }}">
								<img class='portada' data-fbalbum-url="{{ articulo.url_del_album }}">
							</a>
						{% endif %}

						<p>
							{{ articulo.descripcion|truncatewords:20 }}
							<a class='readon' href="/{{ articulo_base_url }}/{{ articulo.id }}">Ver Mas</a>
						</p>
					</div>

					{% ifnotequal p_v|length 0 %}
						<div class="publicidad bloque">
							<img src="{{ p_v.0.url_imagen_publicidad }}" alt="">
							{{ p_v.pop.0 }}
						</div>
					{% endifnotequal %}

				{% endif %}
			{% endfor %}
		</div>
{% endblock %}