{% extends "main.html" %}

{% block content %}
	<div class="content-wrapper">
		<div class="columna izquierda">
			{% for articulo in articulos %}
				{% if not forloop.counter|divisibleby:3 %}
					{% if not forloop.counter|divisibleby:2 %}
						<div class="articulo bloque">
							<h2>{{ articulo.nombre }}</h2>
							<img src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/p206x206/562327_235796483232795_442962616_n.jpg'>
							<p>{{ articulo.descripcion }}</p>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			<div class="publicidad bloque">
				<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/378600_126517100827401_642211761_n.jpg" alt="">
			</div>
		</div>
		<div class="columna central">
			{% for articulo in articulos %}
				{% if not forloop.counter|divisibleby:3 %}
					{% if forloop.counter|divisibleby:2 %}
						<div class="articulo bloque">
							<h2>{{ articulo.nombre }}</h2>
							<img src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/p206x206/562327_235796483232795_442962616_n.jpg'>
							<p>{{ articulo.descripcion }}</p>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="columna derecha">
			{% for articulo in articulos %}
				{% if forloop.counter|divisibleby:3 %}
					<div class="articulo bloque">
						<h2>{{ articulo.nombre }}</h2>
						<img src='https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash3/p206x206/562327_235796483232795_442962616_n.jpg'>
						<p>{{ articulo.descripcion }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}