{% extends "base.html" %}

{% block title %}
    Todo Eventos Chaco
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}nivo-slider/themes/default/default.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}nivo-slider/nivo-slider.css">
    <script src='{{ STATIC_URL }}nivo-slider/jquery.nivo.slider.pack.js'></script>
    <script>
        $(window).load(function(){
            $("#slider").nivoSlider({
                effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
                slices: 15, // For slice animations
                boxCols: 8, // For box animations
                boxRows: 4, // For box animations
                animSpeed: 500, // Slide transition speed
                pauseTime: 5000, // How long each slide will show
                startSlide: 0, // Set starting Slide (0 index)
                directionNav: true, // Next & Prev navigation
                controlNav: false, // 1,2,3... navigation
                controlNavThumbs: false, // Use thumbnails for Control Nav
                pauseOnHover: true, // Stop animation while hovering
                manualAdvance: false, // Force manual transitions
                prevText: 'Anterior', // Prev directionNav text
                nextText: 'Siguiente', // Next directionNav text
                randomStart: false, // Start on a random slide
                beforeChange: function(){}, // Triggers before a slide transition
                afterChange: function(){}, // Triggers after a slide transition
                slideshowEnd: function(){}, // Triggers after all slides have been shown
                lastSlide: function(){}, // Triggers when last slide is shown
                afterLoad: function(){} // Triggers when slider has loaded
            });

        });

        $(document).ready(function(){

            // Cargar portadas desde Facebook ;)
            var images = $(document.images)
            $.each(images, function(idx, img){
                if (img.hasAttribute('data-fbalbum-url')){
                    albumid = img.getAttribute('data-fbalbum-url').split('.')[3];
                    $.getJSON("https://graph.facebook.com/" + albumid, function(data){
                        cover = data['cover_photo'];
                        $.getJSON("https://graph.facebook.com/" + cover, function(data){
                            img.src = data['images'][3]['source'];
                        });
                    });
                }
            });

            // Cargar videos de YouTube :)
            $.each($('.yt-video'), function(idx, ytdiv){

                video_url = ytdiv.getAttribute('data-youtube-video');

                if (video_url.indexOf('=') != -1){
                    delimiter = "=";
                }else{
                    delimiter = "/";
                }

                parts = video_url.split(delimiter);
                video_id = parts[parts.length -1];

                video_frame = $('<iframe></iframe>');
                video_frame.attr('src', 'http://youtube.com/embed/' + video_id);
                video_frame.attr('frameborder', 0);
                video_frame.attr('allowfullscreen', 'allowfullscreen');

                $(ytdiv).append(video_frame);
            });

        });
    </script>
    {% block head_m %}{% endblock %}
{% endblock %}

{% block body %}

    {% block bodyfirst %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=1227945747345171";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}

    <div id='container'>

        <img src='{{ STATIC_URL }}img/logo.png' id='logo'>

        <nav class='bloque'>
            {% block nav %}
                <ul>
                    <li>
                        <a class='{% if menu_activo == "eventos" %}active{% endif %}' href='/'>Eventos</a>
                    </li>
                    <li>
                        <a class='{% if menu_activo == "cartelera" %}active{% endif %}' href='/carteleras/'>Cartelera</a>
                    </li>
                    <li>
                        <a class='{% if menu_activo == "galeria" %}active{% endif %}' href='/galerias/'>Galeria</a>
                    </li>
                    <li>
                        <a class='{% if menu_activo == "servicios" %}active{% endif %}' href='#'>Servicios</a>
                        <ul>
                            {% for servicio in servicios %}
                                <a href='/servicio/{{ servicio.id }}'><li>{{ servicio.nombre }}</li></a>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a class='{% if menu_activo == "noche" %}active{% endif %}' href='/noches/'>Noche</a>
                    </li>
                    <li>
                        <a class='{% if menu_activo == "comentarios" %}active{% endif %}' href='/comentarios/'>Comentarios</a>
                    </li>
                </ul>
            {% endblock %}
        </nav>

        {% block slider %}
            {# Slider #}
        {% endblock %}

        <div class="content-wrapper">

            <div class="publicidades-logos bloque">
                {% for publicidad in p_p %}
                    <img src='{{ publicidad.url_imagen_publicidad }}'>
                {% endfor %}
            </div>

            <div class="contador-musica-social">
                <div class="columna izquierda">
                    <div class="bloque" id='contador-visitas'>
                        <script language="JavaScript" src="http://s1.freehostedscripts.net/ocount.php?site=ID2003720&name=Visitas"></script>
                    </div>
                </div>
                <div class="columna central">
                    <div class="bloque music-player">
                        <!-- BEGINS: AUTO-GENERATED Museter unlimited SHOUTcast Hosting Museter.com plans start at $6.95 CODE visit http://www.museter.com -->
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="180" height="30">
                        <param name="movie" value="http://www.museter.com/ffmp3-config.swf" />
                        <param name="flashvars" value="url=http://sc02.yertel.com:8094/;&lang=sp&codec=mp3&volume=65&introurl=&autoplay=false&traking=true&jsevents=false&buffering=5&skin=http://www.museter.com/skins/substream/ffmp3-substream.xml&title=Energynet&welcome=Bienvenido!" />
                        <param name="wmode" value="transparent" />
                        <param name="allowscriptaccess" value="always" />
                        <param name="scale" value="noscale" />
                        <embed id='swf-player' src="http://www.museter.com/ffmp3-config.swf"
flashvars="url=http://sc02.yertel.com:8094/;&lang=sp&codec=mp3&volume=65&introurl=&autoplay=false&traking=true&jsevents=false&buffering=5&skin=http://www.museter.com/skins/substream/ffmp3-substream.xml&title=Energynet&welcome=Bienvenido!" width="440" scale="noscale" height="30" wmode="transparent" allowscriptaccess="always" type="application/x-shockwave-flash" />
                        </object>
                        <!-- ENDS: AUTO-GENERATED Museter unlimited SHOUTcast Hosting Museter.com plans start at $6.95 CODE visit http://www.museter.com-->
                    </div>
                </div>
                <div class="columna derecha">
                    <div id='share' class="bloque">
                        <div class="fb-like" data-href="http://www.facebook.com/todoeventos.chaco" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
                        <a href="https://twitter.com/todoeventoschac" data-show-screen-name="false" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir @todoeventoschac</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
            {% block content %}
                {# Contenido de la pagina #}
            {% endblock %}
        </div>

        <footer class='bloque'>
            <div class="daniel">
                <h1 class="textoFooterDaniel">Propiedad Intelectual: <a target="_blank" href="http://wwww.facebook.com/PonnyGonzalez" class="textoContactoFooter">Daniel Osvaldo Gonzalez</a></h1>
                <h1 class="textoFooterDaniel">Copyrigth: <span class="textoContactoFooter">Studio 21</span></h1>
                <h1 class="textoFooterDaniel">Dirrección: <span class="textoContactoFooter">San Luis 467 - Villa Angela</span></h1>
                <h1 class="textoFooterDaniel">Telefono: <span class="textoContactoFooter">3735-403355</span></h1>
                <h1 class="textoFooterDaniel">Fotografía: <a target="_blank" href="http://wwww.facebook.com/nahuel.riquelme.9" class="textoContactoFooter">Nahuel Riquelme</a></h1>
                <h1 class="textoFooterDaniel"><a target="_blank" href="http://wwww.facebook.com/huber.romero.1" class="textoContactoRomero">Huber Romero</a></h1>
            </div>
            <div class="w3bex">
                <h1 class="textoFooterW3bex">Desarrollado por</h1>
                <a href="http://www.w3bex.com" target="_blank" class="footerImgW3bex"><img src="../static/img/footer-te.png"></a>
            </div>
        </footer>


    </div>

{% endblock %}
